version: '3.8'

services:
  nextjs:
    build:
      context: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      CHOKIDAR_USEPOLLING: true  # ensures Next.js detects file changes
      NODE_ENV: development
      SOCKET_URL: ${SOCKET_URL}
      CLIENT_ORIGIN: ${CLIENT_ORIGIN}
      NEXT_PUBLIC_FIREBASE_API_KEY: ${NEXT_PUBLIC_FIREBASE_API_KEY}
      NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: ${NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN}
      NEXT_PUBLIC_FIREBASE_PROJECT_ID: ${NEXT_PUBLIC_FIREBASE_PROJECT_ID}
      NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: ${NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET}
      NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: ${NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID}
      NEXT_PUBLIC_FIREBASE_APP_ID: ${NEXT_PUBLIC_FIREBASE_APP_ID}
      NEXT_PUBLIC_FIREBASE_DATABASE_URL: ${NEXT_PUBLIC_FIREBASE_DATABASE_URL}
    volumes:
      - .:/app # live code update
      - /app/node_modules
      - /app/.next
    command: npm run dev
    restart: unless-stopped 